
<div class='proyecto'>
<h1>PROYECTO NRO <%= proy.boletin %> </h1>


<h3> <%= proy.resumen %> </h3>
<h3> <%= proy.estado %> </h3>
<a href=" <%= proy.url %> "> link en pagina del senado </a>

<!-- Senadores Involucrados -->

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Apellido</th>
      <th>Partido</th>
      <th>link</th>
    </tr>
  </thead>
  <tbody>
    <% for (i = 0; i < senadores.length; i++) { %>
      <tr>
        <td><%= senadores[i].nombre %></td>
        <td><%= senadores[i].apellido_paterno %></td>
        <td><%= senadores[i].partido_politico %></td>
        <td>
          <a href=" <%= senadores[i].url_twitter %> ">Ver senador</a>
        </td>
      </tr>
    <% } %>
  </tbody>
</table>


<!-- Timeline del Proyecto -->
<div>
  <div class="container">

     <div class="timeline-block timeline-block-right">
        <div class="marker"></div>
        <div class="timeline-content">
           <h3>Inicio</h3>
           <span> <%= fecha %> </span>
        </div>
     </div>

     <div class="timeline-block timeline-block-left">
        <div class="marker"></div>
        <div class="timeline-content">
           <h3>Estado actual</h3>
           <span><%= proy.estado %></span>
        </div>
     </div>

  </div>
</div>


</div>
