<div class='proyectos'>
  <h1 class="titulos">PROYECTO NRO <%= proy.boletin %></h1>

  <div class="resumen">
    <p class="resumen__content"><%= resumen %></p>
    <p class="resumen__comision">Pertenece a la comisi贸n de <span><%=comition.nombre%></span></p>
    <a class="resumen__button" href="/comitions/show/<%= comition.id%>">Ver comisi贸n</a>
  </div>
  <p class="proyectos__estado proyectos__estado--<%= proy.estado %>"> <%= proy.estado.charAt(0).toUpperCase() + proy.estado.slice(1) %> </p>
  <a class="proyectos__link" href=" <%= proy.url %>" target="_blank"> Ver en pagina del senado </a>

  <!-- Senadores Involucrados -->
  <div class="contenedor-cards">
    <h2 class="contenedor-cards__subtitle">Parlamentarios precursores</h2>
    <% if (senadores.length === 0) { %>
      <h3 class="contenedor-cards__error">No hay informaci贸n disponible</h3>
    <% } else { %>
      <% for (i = 0; i < senadores.length; i++) { %>
        <div class="card-senadores">
          <img src="<%= fotos[i] %>" alt="foto" class="card-senadores__foto">
          <h2 class="card-senadores__nombre"><%= senadores[i].nombre %> <%= senadores[i].apellido_paterno %></h2>
          <p class="card-senadores__partido"> <%= senadores[i].partido_politico %> </p>
          <% if (senadores[i].url_twitter) { %>
            <a target="_blank" class="card-senadores__twitter" href="<%= senadores[i].url_twitter %>"><i class="fab fa-twitter"></i></a>
          <% } %>
          <a class="card-senadores__button" href="/senadores/<%= senadores[i].id %>">Ver Perfil</a>
        </div>
      <% } %>
    <% } %>
  </div>

  <!-- Timeline del Proyecto -->
  <div class="contenedor-linea">
    <% let side = 'left'; %>
    <div class="timeline-block timeline-block-right">
      <div class="marker"></div>
      <div class="timeline-content">
        <h3>Publicaci贸n</h3>
        <span> <%= fecha %> </span>
      </div>
    </div>

    <% for (let cont = 0; cont < milestones.length; cont += 1) { %>
      <div class="timeline-block timeline-block-<%= side %>">
        <div class="marker"></div>
        <div class="timeline-content">
          <h3><%= milestones[cont].fecha %></h3>
          <div class="wrap-collabsible">
            <input id="collapsible-<%= cont %>" class="toggle collapsible__checkbox" type="checkbox">
            <label for="collapsible-<%= cont %>" class="lbl-toggle lbl-toggle--<%= side %>">Ver votos</label>
            <div class="collapsible-content">
              <div class="collapsible-content__content">
                <p class="collapsible-content__cifra collapsible-content__cifra--favor">
                  <%= milestones[cont].a_favor %>
                </p>
                <p class="collapsible-content__label">votos a favor</p>
                <p class="collapsible-content__cifra collapsible-content__cifra--contra">
                  <%= milestones[cont].en_contra %>
                </p>
                <p class="collapsible-content__label">votos en contra</p>
                <p class="collapsible-content__cifra collapsible-content__cifra--abstencion">
                  <%= milestones[cont].abstencion %>
                </p>
                <p class="collapsible-content__label">abstenciones</p>
                <p class="collapsible-content__cifra collapsible-content__cifra--pareo">
                  <%= milestones[cont].pareo %>
                </p>
                <p class="collapsible-content__label">pareos</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% side = side === 'right' ? 'left' : 'right' %>
    <% } %>

    <div class="timeline-block timeline-block-<%= side %>">
      <div class="marker"></div>
      <div class="timeline-content">
        <h3>Estado actual</h3>
        <span><%= proy.estado %></span>
      </div>
    </div>
  </div>

</div>



<!-- Timeline sacado de: -->
<!-- https://codepen.io/hassan-kamal/pen/NNvYEQ -->


<!-- SCRIPT COLLAPSIBLE -->

<script>

  let myLabels = document.querySelectorAll('.lbl-toggle');

  Array.from(myLabels).forEach(label => {
    label.addEventListener('keydown', e => {
      // 32 === spacebar
      // 13 === enter
      if (e.which === 32 || e.which === 13) {
        e.preventDefault();
        label.click();
      };
    });
  });


  // Funcion y scss (un poco modificado) sacados de https://alligator.io/css/collapsible/

</script>
