<div class="proyectos">

  <h1 class="titulos">
    Proyectos <%= estado %>s
  </h1>
  <h2> <%= cont %> Proyectos totales </h2>

  <!-- Contenedor cartas de proyectos -->
  <div>
    <div class="contenedor-cards">
    <% for (i = 0; i < proys.length; i++) { %>

      <div class="card-proyectos">
        <h1> <%= proys[i].boletin %> </h1>
        <h3> <%= proys[i].estado %> </h3>
        <p class="title-senadores"> <%= fechas[i] %> </p>
        <div class="div-resumen">
          <p class ="title-senadores"> <%= proys[i].resumen %> </p>
        </div>
        <a href="/proyectos-ley/show/<%= proys[i].id%>"><button>Ver Perfil</button></a>
      </div>

    <% } %>
    </div>
  </div>


</div>
