<div class="proyectos-index">

  <h1 class="titulos">
    Proyectos de <%= comition %>
  </h1>
  <h2> <%= cont %> Proyectos totales </h2>

  <!-- Contenedor cartas de proyectos -->
  <div class="contenedor-cards contenedor-cards--index">
  <% for (i = 0; i < proys.length; i++) { %>
    <div class="card-proyectos">
      <h1 class="card-proyectos__title"><%= proys[i].boletin %></h1>
      <h3 class="card-proyectos__estado"><%= proys[i].estado %></h3>
      <p class="card-proyectos__fecha"><%= fechas[i] %></p>
      <p class="card-proyectos__resumen"><%= proys[i].resumen.length > 150 ? `${proys[i].resumen.slice(0, 150)}...` : proys[i].resumen %></p>
      <a href="/proyectos-ley/show/<%= proys[i].id%>" class="card-proyectos__button">Ver proyecto</a>
    </div>
  <% } %>
  </div>


  <% maxVal = Math.ceil(cont / 15) %>

  <% if (cont > 15) { %>
    <ul class="pagination proyectos-index__pages">
      <% if (currPage > 1) { %>
        <a class="pagination__link" href="/proyectos-ley/show-comition/<%= com_id %>?page=<%= currPage - 2 %>">
          <li class="pagination__page">&lsaquo;</li>
        </a>
      <% } %>

      <a class="pagination__link" href="/proyectos-ley/show-comition/<%= com_id %>?page=<%= 0 %>">
        <li class="pagination__page <%= currPage === 1 ? 'pagination__page--active' : '' %>">1</li>
      </a>

      <% if (currPage >= 6) { %>
        <li class="pagination__dummy">...</li>
      <% } %>

      <% for (let i = Math.max(currPage - 2, 2); i < Math.min(currPage + 3, maxVal); i++) { %>
        <a class="pagination__link" href="/proyectos-ley/show-comition/<%= com_id %>?page=<%= i - 1 %>">
          <li class="pagination__page <%= currPage === i ? 'pagination__page--active' : '' %>"><%= i %></li>
        </a>
      <% } %>

      <% if (currPage <= maxVal - 4) { %>
        <li class="pagination__dummy">...</li>
      <% } %>

      <a class="pagination__link" href="/proyectos-ley/show-comition/<%= com_id %>?page=<%= maxVal - 1 %>">
        <li class="pagination__page <%= currPage === maxVal ? 'pagination__page--active' : '' %>"><%= maxVal %></li>
      </a>

      <% if (currPage < maxVal) { %>
        <a class="pagination__link" href="/proyectos-ley/show-comition/<%= com_id %>?page=<%= currPage %>">
          <li class="pagination__page">&rsaquo;</li>
        </a>
      <% } %>
    </ul>
  <% } %>
</div>
