<link href='https://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>

<div class='proyectos'>

  <h1 class="titulos titulos--medium">Comision de <%= comition.nombre %></h1>
  <div class="proyectos__info">
    <h2 class="contenedor-cards-com__subtitle">Informacion de Contacto</h2>
    <%= comition.telefono %>
    <br>
    <%= comition.email %>
    <br>
    <h2 class="contenedor-cards-com__subtitle">Partidos Participantes</h2>
    <% for (i = 0; i < partidos_nombre.length; i++) { %>
      <%= partidos_nombre[i] %> : <%= partidos_porcentajes[i] %> %
      <br>
    <% } %>
  </div>


  <!-- Senadores Involucrados -->
  <div class="contenedor-cards-com">
    <h2 class="contenedor-cards-com__subtitle">Parlamentarios precursores</h2>
    <% if (senadores.length === 0) { %>
      <h3 class="contenedor-cards-com__error">No hay información disponible</h3>
    <% } else { %>
      <% for (i = 0; i < senadores.length; i++) { %>
        <div class="card-senadores">
          <img src="<%= fotos[i] %>" alt="foto" class="card-senadores__foto">
          <h2 class="card-senadores__nombre"><%= senadores[i].nombre %> <%= senadores[i].apellido_paterno %></h2>
          <p class="card-senadores__partido"><%= senadores[i].partido_politico %></p>
          <% if (senadores[i].url_twitter) { %>
            <a target="_blank" class="card-senadores__twitter" href="<%= senadores[i].url_twitter %>"><i class="fab fa-twitter"></i></a>
          <% } %>
          <a class="card-senadores__button" href="/senadores/<%= senadores[i].id %>">Ver Perfil</a>
        </div>
      <% } %>
    <% } %>
  </div>

  <!-- Contenedor cartas de proyectos -->
  <div class="contenedor-comition">
    <h2 class="contenedor-cards-com__subtitle">Proyectos de la Comision</h2>
    <% if (proyectos.length === 0) { %>
      <h3 class="contenedor-cards-com__error">No hay información disponible</h3>
    <% } else { %>
      <div class="contenedor-cards-com contenedor-cards-com--index">
      <% for (i = 0; i < proyectos.length; i++) { %>
        <div class="card-com-proy">
          <h1 class="card-com-proy__title"><%= proyectos[i].boletin %></h1>
          <p class="card-com-proy__resumen"><%= proyectos[i].resumen.length > 150 ? `${proyectos[i].resumen.slice(0, 150)}...` : proyectos[i].resumen %></p>
          <a href="/proyectos-ley/show/<%= proyectos[i].id%>" class="card-proyectos__button">Ver proyecto</a>
        </div>
      <% } %>
      </div>
    <% } %>
  </div>

<svg id="chart"></svg>

</div>

<script src="https://d3js.org/d3.v3.js"></script>
<script type="text/javascript">

  //var data = [1, 2, 3, 4, 7];

  var data = JSON.parse(<%= partidos_cantidad %>);


  console.log(data);

  //data.sort(function(a, b){return a-b});
  //data.sort(d3.descending());
  var width = "100%",
      height = 20,
  	goal = 600,
  	perc_so_far = 0;


  //console.log(d3.sum(data));
  var total_time = d3.sum(data);
  var bar_x = 0;
  var chart = d3.select("#chart")
  	.attr("width", "100%")
  	.attr("height", height);
  	bar_x = 0;
  	//var chart_width = chart.style("width").replace("px", "");
  var chart_width = parseInt(d3.select("#chart").style("width"));
  console.log(chart_width);

  var color = d3.scale.category20c();
  	//d3.scale.ordinal()
  	//.domain(["6TH", "7TH", "5TH", "4TH"])
  	//.range(colorbrewer.RdBu[12]);
  var bar = chart.selectAll("g")
  	.data(data)
  	.enter().append("g");
  	console.log(bar);
  bar.append("rect")
  	.attr("width", function(d) { return ((d/total_time)*100) + "%"; } )
  	.attr("x", function(d) {
  		var prev_perc = perc_so_far;
  		var this_perc = 100*(d/total_time);
  		perc_so_far = perc_so_far + this_perc;
  		console.log("perc_so_far:" + perc_so_far + "; this_perc:" + this_perc + "; prev_perc:" + prev_perc + ";");
  		return prev_perc + "%";
  	})
  	.attr("height", height)
  	.attr("fill",  function(d) { return (color(d)) } );

  perc_so_far = 0;
  bar.append("text")
  	.attr("x", function(d) {
  		var prev_perc = perc_so_far;
  		var this_perc = 100*(d/total_time);
  		perc_so_far = perc_so_far + this_perc;
  		console.log("perc_so_far:" + perc_so_far + "; this_perc:" + this_perc + "; prev_perc:" + prev_perc + ";");
  		return prev_perc + "%";
  	})
  	//.attr("y", 11)
  	.attr("dy", "1.35em")
  	.text(function(d) { return d; });

  d3.select(window).on('resize', resize);

  function resize () {
  	var width = parseInt(d3.select("#chart").style("width"));
  	//console.log(width);
  	//console.log(bar);
  }

</script>
