<div class='proyectos'>

  <h1 class="titulos">Comision de <%= comition.nombre %></h1>
  <div class="proyectos__info">
    <h2 class="contenedor-cards__subtitle">Informacion de Contacto</h2>
    <%= comition.telefono %>
    <br>
    <%= comition.email %>
  </div>


  <!-- Senadores Involucrados -->
  <div class="contenedor-cards">
    <h2 class="contenedor-cards__subtitle">Parlamentarios precursores</h2>
    <% if (senadores.length === 0) { %>
      <h3 class="contenedor-cards__error">No hay información disponible</h3>
    <% } else { %>
      <% for (i = 0; i < senadores.length; i++) { %>
        <div class="card-senadores">
          <img src="<%= fotos[i] %>" alt="foto" class="card-senadores__foto">
          <h2 class="card-senadores__nombre"><%= senadores[i].nombre %> <%= senadores[i].apellido_paterno %></h2>
          <p class="card-senadores__partido"> <%= senadores[i].partido_politico %> </p>
          <% if (senadores[i].url_twitter) { %>
            <a target="_blank" class="card-senadores__twitter" href="<%= senadores[i].url_twitter %>"><i class="fab fa-twitter"></i></a>
          <% } %>
          <a class="card-senadores__button" href="/senadores/<%= senadores[i].id %>">Ver Perfil</a>
        </div>
      <% } %>
    <% } %>
  </div>

  <!-- Contenedor cartas de proyectos -->
  <div class="contenedor-comition">
    <h2 class="contenedor-cards__subtitle">Proyectos de la Comision</h2>
    <% if (proyectos.length === 0) { %>
      <h3 class="contenedor-cards__error">No hay información disponible</h3>
    <% } else { %>
      <div class="contenedor-cards contenedor-cards--index">
      <% for (i = 0; i < proyectos.length; i++) { %>
        <div class="card-com-proy">
          <h1 class="card-proyectos__title"><%= proyectos[i].boletin %></h1>
          <p class="card-proyectos__resumen"><%= proyectos[i].resumen.length > 150 ? `${proyectos[i].resumen.slice(0, 150)}...` : proyectos[i].resumen %></p>
          <a href="/proyectos-ley/show/<%= proyectos[i].id%>" class="card-proyectos__button">Ver proyecto</a>
        </div>
      <% } %>
      </div>
    <% } %>
  </div>



</div>
